# Create a Travel Itinerary with a Corresponding Map

In [11]:
# Import the dependencies.
import pandas as pd
import numpy as np
import gmaps
import gmaps.datasets
import requests
# Import the API key.
from config import g_key

In [2]:
#impport csv files
new_df=pd.read_csv("weather_data/WeatherPy_vacation.csv")

In [3]:
new_df.head()

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
0,0,Bambous Virieux,MU,shower rain,72.00,-20.34,57.76,Casa Tia Villa
1,1,Castro,BR,scattered clouds,69.67,-24.79,-50.01,CHACARA BAILLY
2,2,San Fernando,PH,broken clouds,80.60,15.03,120.69,Sky Hotel
3,3,Gbarnga,LR,light rain,76.84,7.00,-9.47,Passion Hotel 2
4,4,Nanortalik,GL,overcast clouds,44.58,60.14,-45.24,"NTS Rooms, Nanortalik"

# four cities are Mayo,Raton,Sunland Park,Lamar

In [4]:
#Create separate DataFrames for each city on the travel route, using the loc attribute:
#get the latitude-longitude pairs for each city DataFrame as tuples:

Mayo_df = new_df.loc[(new_df["City"]=="Mayo")] 
Mayo = tuple(Mayo_df.to_numpy()[0][5:7])

Raton_df = new_df.loc[(new_df["City"]=="Raton")]
Raton = tuple(Raton_df.to_numpy()[0][5:7])

Sunland_Park_df = new_df.loc[(new_df["City"]=="Sunland Park")] 
Sunland_Park= tuple(Sunland_Park_df.to_numpy()[0][5:7])

Lamar_df = new_df.loc[(new_df["City"]=="Lamar")] 
Lamar = tuple(Lamar_df.to_numpy()[0][5:7])

In [12]:
#For the travel_mode"
#set api key for gmaps"
gmaps.configure(api_key=g_key)

fig = gmaps.figure()

# set  vacation itinerary
Vacation_Itinerary = gmaps.directions_layer(Mayo,Lamar, waypoints=[Raton,Sunland_Park],travel_mode='DRIVING')

# add itinerary top map
fig.add_layer(Vacation_Itinerary)

# show map
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#  Single data frame for all city:
route_df = pd.concat([Mayo_df,Raton_df,Sunland_Park_df,Lamar_df])
route_df

,City_ID,City,Country,Current Description,Max Temp,Lat,Lng,Hotel Name
408,408,Mayo,US,clear sky,86.00,38.89,-76.51,Resorts Resource Group International
382,382,Raton,US,clear sky,82.40,36.90,-104.44,Holiday Inn Express & Suites Raton
129,129,Sunland Park,US,few clouds,93.00,31.80,-106.58,SpringHill Suites by Marriott El Paso
557,557,Lamar,US,clear sky,89.01,33.67,-95.58,Kings Inn Paris TX

In [7]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>  and {Max Temp} Â°F</dd></dl>

</dl>
"""

In [8]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in route_df.iterrows()]

In [14]:
# The pop-up marker for each city in the vacation itinerary:
locations = route_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))